## .NET
bin/
obj/
*.user
*.suo
.vs/
*.DS_Store
.idea/

## NuGet
*.nupkg
*.snupkg
.nuget/

## Publish
publish/
out/

## Runtime
*.log
*.cache

## Secrets
**/appsettings.Production.json
**/appsettings.Local.json

## Docker volumes
mysql_data/

## Test results
TestResults/
coverage/
*.trx
*.coveragexml
